/* Defining Variables*/
:root {
    --grey-1: #DDDDDD;
    --grey-2: #CCCCCC;
    --grey-3: #BBBBBB;
    --grey-4: #AAAAAA;
    --grey-5: #999999;
    --grey-6: #888888;
    --blue-vlight: #C6C7F5;
    --blue-light: #B5B6E4;
    --blue-mid: #666699;
    --blue-dark: #4F43AE;
    --grey-dark: #424242;
    --grey-darker: #252525;
    --rust: #EB7C47;
    --blue-grey: #446476;
    --khaki-brown: #CBC2A3;
    --brown: #6C4748;
  }
  
/* Clean Slate */
body, html {
    margin: 0;
    padding: 0
}

/* Fonts */
* {
    font-family: Montserrat, "Source Sans Pro", sans-serif;
    box-sizing: border-box
}

html {
    font-size: 16px;
    font-variant: none;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent
}

/* Background Themes */
@media (prefers-color-scheme: dark) {
    html {
        background: radial-gradient(100% 100% at 50% 0, var(--grey-1) 0, var(--grey-6) 100%), white
    }
}

#background-radial-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    z-index: -1
}

#root,body,html {
    min-height: 100%
}

/* Styling and Arranging Navigation Bar*/
.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem 0 0;
  list-style: none;
  padding: 0;
  align-items: center;
}

.nav-item-left:nth-child(2) {
    margin-right: auto;
}
  
.nav-item-right:nth-child(2) {
    margin-left: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
    position: relative;
}

@media (max-width: 28.75em) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
    
    .nav-list {
      margin-top: 1rem;
    }
    
    .nav-item-right {
      margin-left: 0;
      margin-top: 1rem;
    }
}

.nav-list a,
.dropdown a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}
  

@media (prefers-color-scheme: dark) {
    .navbar {
        background: var(--blue-dark)
    }
    a {
        text-decoration: none;
        color: var(--grey-1);
    }
} 

.navbar a {
    padding: 20px;
    text-align: center;
}

.nav-list a:not(.dropdown-content a):hover {
    transform: translate3D(2px, 2px, 0);
}

.nav-list a {
    transition: transform 0.2s ease;
}

.navbar li {
    padding: 20px;
}

/* Network Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: auto;
}

.dropdown-li {
    display: flex;
    align-items: center;
}
  
.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    padding: 12px 16px;
    margin-top: 5px;
    right: 0;
}

@media (prefers-color-scheme: dark) {
    .dropdown-content {
        background: var(--grey-2);
        box-shadow: 5px 5px 0px 0px var(--grey-darker);
    }
    .dropdown-content a:hover {
        background-color: var(--blue-light);
    }
    .change-network {
        background-color: transparent;
    }
}
.dropdown-content a:hover {
    transform: translate3d(2px, 2px, 0);
}

.dropdown-content a {
    color: var(--grey-darker);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    border: 1px solid;
    box-shadow: 5px 5px 0px 0px var(--grey-darker);
    padding: 12px 16px;
    margin-top: 5px;
    right: 0;
  }
  
.dropdown:focus .dropdown-content {
    display: block;
}

.network-button a {
    padding: 10px;
    text-align: center;
}

.dropdown-icon {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.dropdown-menu {
    top: 100%;
    margin-top: 1px;
}

#network-icon {
    height: 40px;
    width: auto;
    margin-right: 5px;
}

#dropdown-icon.rotate {
    transform: rotate(180deg);
}

.show {
    display: block;
}
  
.change-network {
    border: none;
    cursor: pointer;
}

/* Payments Box*/
@media (prefers-color-scheme: dark) {
    .wallet-info .level {
        background: var(--blue-dark);
        color: var(--grey-1);
    }
    #payment-details > button {
        background-color: var(--blue-dark);
    }
}

#payment-details {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.wallet-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid ;
    box-shadow: 5px 5px 0px 0px var(--grey-darker);
}

.wallet-info .level {
    padding: 10px 0;
    width: 100%;
}
  
.wallet-info h2 {
    margin: 0px;
}
  
.wallet-info ul {
    margin: 10px;
    padding: 0;
    text-align: center;
    list-style: none;
}
  
.wallet-info ul li {
    padding: 5px 0;
}
  
#payment-details button {
    border: 1px solid black;
    color: var(--grey-1);
    margin: 15px 0;
    font-weight: 400;
    box-shadow: 5px 5px 0px 0px var(--grey-darker);
    transition: transform 0.2s ease;
}

#payment-details > button,
.level {
    width: calc(100% / 3);
    font-size: 1.6rem;
    padding: 10px 0;
}

#payment-details > button:hover {
    transform: translate3d(2px, 2px, 0);
    cursor: pointer;
}
  
@media (max-width: 800px) {
    #payment-details {
        flex-direction: column;
    }
    .wallet-info {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #payment-details > button {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

/* outCoin Dropdown */
@media (prefers-color-scheme: dark) {
    .outCoin-dropdown-content {
        background: var(--grey-2);
        box-shadow: 5px 5px 0px 0px var(--grey-darker);
    }
    .outCoin-dropdown-content a:hover {
        background-color: var(--blue-light);
        transform: translate3d(2px, 2px, 0);
    }
    .change-outCoin {
        background-color: transparent;
    }
}

.outCoin-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: auto;
}

.outCoin-dropdown-li {
    display: flex;
    align-items: center;
}
  
.outCoin-dropdown-content a {
    color: var(--grey-darker);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.outCoin-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    border: 1px solid;
    box-shadow: 5px 5px 0px 0px var(--grey-darker);
    padding: 8px 16px;
    margin-top: 5px;
    right: 0;
    max-height: 250px;
    overflow-y: auto;
}
  
.outCoin-dropdown:focus .outCoin-dropdown-content {
    display: block;
}

.outCoin-button a {
    padding: 10px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    text-align: center;
}

.outCoin-dropdown-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.outCoin-dropdown-menu {
    top: 100%;
    margin-top: 1px;
}

#outCoin-icon {
    width: 30px;
    height: 30px;
    margin: 2px 0px auto;
}

#outCoin-dropdown-icon.rotate {
    transform: rotate(180deg);
}

.show {
    display: block;
}
  
.change-outCoin {
    border: none;
    cursor: pointer;
}

.confirm-payment {
    width: 200px;
}

/* Scrollbar Design */
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background-color: var(--blue-dark);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--grey-6);
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--grey-4);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
}
