/* Defining Variables*/
:root {
    /* Light Mode Colours */
    --grey-1: #DDDDDD;
    --grey-2: #CCCCCC;
    --grey-4: #AAAAAA;
    --grey-6: #888888;
    --blue-vlight: #C6C7F5;
    --blue-light: #B5B6E4;
    --blue-mid: #666699;
    --blue-dark: #4F43AE;

    /* Neutral Colours*/
    --grey-dark: #424242;
    --grey-darker: #252525;

    /* Dark Mode Colours*/
    --pink-dark: #CC313D; /*E6007A*/
    --pink-mid: #E6007A;
    --pink-light: #F7C5CC;
    --purple-dark: #11001C;
    --purple-mid: #4F0147;
}
  
/* Clean Slate */
body, html {
    margin: 0;
    padding: 0
}

/* Fonts */
* {
    font-family: Montserrat, "Source Sans Pro", sans-serif;
    box-sizing: border-box
}

html {
    font-size: 16px;
    font-variant: none;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    transition-duration: 0.5s;
}

/* DARK MODE COLOUR SCHEME */
@media (prefers-color-scheme: dark) {
    html {
        background: radial-gradient(100% 100% at 50% 0, var(--grey-darker) 0, var(--purple-dark) 100%);
    }
    .navbar,
    .tokens-section {
        background: var(--grey-darker);
        color: white;
    }
    #payment-details > button {
        background-color: var(--pink-mid);
        color: white;
    }
    .wallet-info .level {
        background: var(--grey-darker);
        color: white;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .dropdown-content,
    .inCoin-dropdown-content,
    .outCoin-dropdown-content {
        background: var(--grey-dark);
    }
    .dropdown-content a,
    .inCoin-dropdown-content a,
    .outCoin-dropdown-content a {
        color: white;
    }
    .dropdown-content a:hover,
    .inCoin-dropdown-content a:hover,
    .outCoin-dropdown-content a:hover {
        background-color: var(--pink-mid);
    }
    .change-network {
        background-color: transparent;
    }
    .change-inCoin,
    .change-outCoin {
        background-color: var(--pink-mid);
    }
    #payment-details button,
    .dropdown-content,
    .wallet-info,
    .inCoin-dropdown-content,
    .outCoin-dropdown-content {
        border: 1px solid black;
        box-shadow: 5px 5px 0px 0px var(--grey-4);
    }
    .wallet-info {
        background-color: var(--grey-dark);
    }
    .wallet-info {
        color: white;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--pink-mid);
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--pink-dark);
    }
    ::-webkit-scrollbar-track {
        background-color: var(--pink-light);
    }
    footer {
        color: white;
    }
    .github-link {
        color: var(--pink-mid);
    }
    #dropdown-icon,
    #inCoin-dropdown-icon,
    #outCoin-dropdown-icon {
        stroke: white;
    }
}

/* LIGHT MODE COLOUR SCHEME */
@media (prefers-color-scheme: light) {
    html {
        background: radial-gradient(100% 100% at 50% 0, var(--grey-1) 0, var(--grey-6) 100%), white
    }
    .navbar,
    .tokens-section,
    #payment-details > button,
    .wallet-info .level,
    ::-webkit-scrollbar-track {
        background: darkblue;
        color: var(--grey-1);
    }
    a,
    #payment-details button {
        text-decoration: none;
        color: var(--grey-1);
    }
    .dropdown-content,
    .inCoin-dropdown-content,
    .outCoin-dropdown-content {
        background: var(--grey-2);
    }
    .dropdown-content a,
    .inCoin-dropdown-content a,
    .outCoin-dropdown-content a {
        color: var(--grey-darker);
    }
    .dropdown-content a:hover,
    .inCoin-dropdown-content a:hover,
    .outCoin-dropdown-content a:hover {
        background-color: var(--blue-light);
    }
    .change-network,
    .change-inCoin,
    .change-outCoin {
        background-color: transparent;
    }
    #payment-details button,
    .dropdown-content,
    .wallet-info,
    .inCoin-dropdown-content,
    .outCoin-dropdown-content {
        border: 1px solid black;
        box-shadow: 5px 5px 0px 0px var(--grey-darker);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--grey-6);
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--grey-4);
    }
    footer {
        background-color: var(--grey-2);
        color: var(--grey-darker);
    }
    .github-link {
        color: darkblue;
    }
    #dropdown-icon {
        stroke: white;
    }
    #inCoin-dropdown-icon,
    #outCoin-dropdown-icon {
        stroke: darkblue;
    }
}

/* Gradient */
#background-radial-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    z-index: -1
}

#root,body,html {
    min-height: 100%
}

/* Styling and Arranging Navigation Bar*/
.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem 0 0;
  list-style: none;
  padding: 0;
  align-items: center;
}

.nav-item-left:nth-child(2) {
    margin-right: auto;
}
  
.nav-item-right:nth-child(2) {
    margin-left: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
    position: relative;
}

@media (max-width: 28.75em) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
    
    .nav-list {
      margin-top: 1rem;
    }
    
    .nav-item-right {
      margin-left: 0;
      margin-top: 1rem;
    }
}

.nav-list a,
.dropdown a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

.navbar a {
    padding: 20px;
    text-align: center;
}

.nav-list a:not(.dropdown-content a):hover {
    transform: translate3D(2px, 2px, 0);
}

.nav-list a {
    transition: transform 0.2s ease;
}

.navbar li {
    padding: 20px;
}

/* Network Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: auto;
}

.dropdown-li {
    display: flex;
    align-items: center;
}
  
.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    padding: 12px 16px;
    margin-top: 5px;
    right: 0;
}


.dropdown-content a:hover {
    transform: translate3d(2px, 2px, 0);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    padding: 12px 16px;
    margin-top: 5px;
    right: 0;
  }
  
.dropdown:focus .dropdown-content {
    display: block;
}

.network-button a {
    padding: 10px;
    text-align: center;
}

.dropdown-icon {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.dropdown-menu {
    top: 100%;
    margin-top: 1px;
}

#network-icon {
    height: 40px;
    width: auto;
    margin-right: 5px;
}

#dropdown-icon.rotate {
    transform: rotate(180deg);
}

.show {
    display: block;
}
  
.change-network {
    border: none;
    cursor: pointer;
}

/* Payments Box*/
#payment-details {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.wallet-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
}

.wallet-info .level {
    padding: 10px 0;
    width: 100%;
}
  
.wallet-info h2 {
    margin: 0px;
}
  
.wallet-info ul {
    margin: 10px;
    padding: 0;
    text-align: center;
    list-style: none;
}
  
.wallet-info ul li {
    padding: 5px 0;
}
  
#payment-details button {
    margin: 15px 0;
    font-weight: 400;
    transition: transform 0.2s ease;
}

#payment-details > button,
.level {
    width: calc(100% / 3);
    font-size: 1.6rem;
}

#payment-details > button {
    margin: 10px 0 100px 0;
    padding: 10px 0;
}

#payment-details > button:hover {
    transform: translate3d(2px, 2px, 0);
    cursor: pointer;
}
  
@media (max-width: 800px) {
    #payment-details {
        flex-direction: column;
    }
    .wallet-info {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

#transfer-gbp-value,
#recipient {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

/* Coin Dropdown Menus */
.inCoin-dropdown,
.outCoin-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: auto;
}

.inCoin-dropdown-li,
.outCoin-dropdown-li {
    display: flex;
    align-items: center;
}
  
.inCoin-dropdown-content a,
.outCoin-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.inCoin-dropdown-content,
.outCoin-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    padding: 8px 16px;
    margin-top: 5px;
    right: 0;
    max-height: 250px;
    overflow-y: auto;
}
  
.inCoin-dropdown:focus .inCoin-dropdown-content,
.outCoin-dropdown:focus .outCoin-dropdown-content {
    display: block;
}

.inCoin-button a,
.outCoin-button a {
    padding: 10px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    text-align: center;
}

.inCoin-dropdown-icon,
.outCoin-dropdown-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.inCoin-dropdown-menu,
.outCoin-dropdown-menu {
    top: 100%;
    margin-top: 1px;
}
.inCoin-dropdown-content a:hover,
.outCoin-dropdown-content a:hover,
.coin-link-icon:hover,
.footer-item-right:hover {
        transform: translate3d(2px, 2px, 0);
}
#inCoin-icon,
#outCoin-icon {
    width: 30px;
    height: 30px;
    margin: 2px 0px auto;
}

#inCoin-dropdown-icon.rotate,
#outCoin-dropdown-icon.rotate {
    transform: rotate(180deg);
}
  
.change-inCoin,
.change-outCoin {
    border: none;
    cursor: pointer;
}

.show {
    display: block;
}

/* Scrollbar Design */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
}

/* Accepted Coins Secion */
.tokens-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 rem;
}
  
.tokens-section h2 {
    font-size: 2rem;
}
  
.tokens-section p {
    font-size: 1.6rem;
}
  
.tokens-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
  
.coin-link-icon {
    height: 80px;
    margin: 50px;
    transition: transform 0.3s ease;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.footer-item-left {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
  
.footer-item-right {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
  
.github-link {
    font-size: 2rem;
}

.footer-item-right {
    transition: transform 0.3s ease;
}

/**/
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  